img {
    display: block;
    max-width: 97%;
    object-fit: cover; /* Changed to cover */
    border-radius: 20px;
    margin: 4px;
}

ol {
    list-style: none;
}

input[type="radio"] {
    display: none;
}

h2 {
    max-width: 100%;
    font-size: 1em; /* Changed to em for scalability */
    margin: 5px 0px 5px 0px;
    color: #ffffff; 
}

.filters {
    text-align: center;
    padding-top: 20px;
}

.filters * {
    display: inline-block;
}

.filters label {
    padding: 0.5vw 2vw;
    margin-bottom: 1.5vw;
    border-radius: 20px;
    line-height: normal;
    cursor: pointer;
    font-size: 1vw;
    background-color: #333;
    color: #f5f5f5;
    transition: background-color 0.3s ease, color 0.3s ease; /* Added transition */
}

.filters label:hover {
    background: #fdbb2d;
    color: #333;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: auto;
}

.projects .project {
    background: #333;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    margin: 0vw 0vw 2.5vw 0vw;
    color: #f5f5f5;
    padding: 1vw;
}

.projects .project figcaption{
    font-size: 1.75vw;
    line-height: 2.2vw;
    margin: 4px;
    padding-bottom: 1vw;
}

[value="All"]:checked~.filters [for="All"],
[value="acad"]:checked~.filters [for="acad"],
[value="pers"]:checked~.filters [for="pers"],
[value="othr"]:checked~.filters [for="othr"] {
    background: #fdbb2d;
    color: #333;
}

[value="All"]:checked~.projects [data-category] {
    display: block;
}

[value="acad"]:checked~.projects .project:not([data-category~="acad"]),
[value="pers"]:checked~.projects .project:not([data-category~="pers"]),
[value="othr"]:checked~.projects .project:not([data-category~="othr"]) {
    display: none;
}

@media screen and (max-width: 900px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    .projects .project {
        background: #333;
        border: 1px solid #f5f5f5;
        border-radius: 20px;
        max-width: 65vw;
        margin: 0vw 55px 2.5vw 0vw;
    }
    .filters label {
        font-size: 3.5vw;
    }
    .filters {
        margin: 0vw 55px 3vw 0vw;
        text-align: center;
    }
}