/* Style page content */
body{
    background-image: linear-gradient(to bottom, #00f0f0, #eeffff);
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    
}
.genText {
  max-width: 77vw;
  font-family: sans-serif; 
}
.pdf {
  width: 750px;
  height: 850px;
}

.main {
  font-size: 110%;
  line-height: 200%;
  max-width: 1000vw;
  display: inline-block;
  background: grey;
  box-shadow: 0.1vw 0.1vw 1vw 0.1vw black inset;
  padding: 1vw 1vw 1vw 2vw;
  border-radius: 2vw;
}

.header {
  display: inline; 
  border-style: solid; 
  border-width: 5px;
  font-size: 55px;
  padding: 0vw 1vw 0vw 1vw;
  border-radius: 20px;
}

.pfp {
  float: right;
  border-radius: 48%;
  max-width: 440px;
  height: auto;
  padding: 1vw 2vw 2vw 1vw;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: orange;
  background-color: #111;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 20px;
}

.contact_form {
  float: left;
  background: grey;
  box-shadow: 0.1vw 0.1vw 1vw 0.1vw black inset;
  padding: 2vw 3vw 1vw 1vw;
  max-width: 40vw;
  border-radius: 20px;
  margin-bottom: 2vw;
}

.contact_info {
  float: right;
  background: purple;
  box-shadow: 0.1vw 0.1vw 0.5vw 0.1vw black inset;
  margin: 0vw 0vw 0vw 2vw;
  padding: 0vw 2vw 1vw 1vw;
  max-width: 45vw;
  border-radius: 20px;
}

/*Color for linkedin icon on a hover*/
.bi:hover {
  fill: lightblue;
}

.button {
  color: white;
  box-shadow: 0.1vw 0.1vw 1vw 0.1vw black inset;
  padding: 0.75vw;
  text-align: center;
  display: inline-block;
  font-size: 1.5vw;
  border-radius: 1vw;
  margin: 1vw 1vw 1vw 0vw;
  opacity: 90%;
}

.button:hover{
  border: 2px solid tomato;
  opacity: 100%;
}

/* On smaller screens, where height is less than 900px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 900px) {
  body {
    margin-left: 18vw;
  }
  .sidenav {
      padding-top: 15px;
      width: 15vw;
  }
  .sidenav a {
      font-size: 3vw;
      padding: 1vw;
  }
  .header {
      font-size: 8vw;
  }
  .main {
      max-width: 71vw;
      line-height: 7vw;
  }
  .genText {
      font-size: 5vw;
      max-width: 100%;
  }
  .pfp {
      max-width: 100%;
      height: auto;
      padding: 0.5vw 0.5vw 5vw 0vw;
  }
  .pdf {
      max-width: 73vw;
      height: 100%;
  }
  input[type=text], select, textarea {
    border-radius: 20px;
  }
  .contact_form {
    float: none;
    font-size: 5vw;
    max-width: 59vw;
    background: none;
    box-shadow: none;
  }

  .contact_info {
    float: none;
    max-width: 74vw;
    font-size: 5vw;
    text-align: center;
    padding: 0.5vw 0vw 3vw 0vw;
    margin: 0vw 0vw 6vw 0vw;
  }

  #contact_title {
    display: none;
  }

  .button {
    display: block;
    font-size: 5vw;
  }

}
